<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.location.bizhacks.storelocator">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <uses-permission android:name="android.permission.INTERNET" />
        <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
        <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
        <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>


        <meta-data
            android:name="com.indooratlas.android.sdk.API_KEY"
            android:value="683c25b4-f7ee-4487-8506-a316eb13e921" />
        <meta-data
            android:name="com.indooratlas.android.sdk.API_SECRET"
            android:value="QUHHjGm7iPfhSCv600YJ/FQb7hKXs/RpXfzX+ji+huSsrt2tKQblEoqZQRU0hte3T/vxrUHDqhQn/YzJcILVZ2CR5iBXZ6ATxxIk8+r6hNjLcgV9KtYdookS28m6cw==" />

        <activity android:name=".MapActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>